html {
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  margin: 20px;
  height: 80px;
  background-color: #345b72c7;
  border: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 10px;
  height: 200px;
}
#check {
  display: none;
}

.menu {
  display: none;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
}

.btnCheck {
  font-size: 40px;
  color: #fff;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

.menu-item:hover {
  color: red;
  background-color: rgba(20, 40, 70, 0.596);
  border-radius: 10px;
  transition: background-color 0.3s ease-in;
}

@media screen and (min-width: 900px) {
  .btnCheck {
    display: none;
  }
  .menu {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
  }
  .menu a {
    text-align: center;
    line-height: 78px;
    height: 78px;
    width: 150px;
  }
}
