html {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

nav {
  background-color: rgba(75, 93, 116, 0.767);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 300px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 100px;
  height: 65px;
  margin: 5px 0 5px 10px;
}

.menu-item {
  width: 100px;
  height: 75px;
  background-color: transparent;
  border: none;
  color: white;
  text-shadow: 4px 3px 0 #7a7a7a;
}

.menu-item:hover {
  color: #ffffff;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
